.headerBarWrapper {
    .headerBar {
        background-color: #f4f4ff;
        margin: 6px 1px;
        display: flex;
        padding: 1px 4px;
        border-radius: 20px;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 100;

        .selectHotel {
            font-size: 10px;
        }

        h3 {
            font-size: 32px;
            margin: 8px 8px 8px 20px;
        }
    }

    .mainContents {
        padding: 0px 20px;
        height: 740px;
        overflow: scroll;
    }

    .slotHeaderBar {
        background-color: #f4f4ff;
        margin: 30px 0px 30px 0px;
        padding: 1px 4px;
        border-radius: 20px;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 100;

        .selectHotel {
            font-size: 10px;
        }

        .detailElements {
            margin-top: 10px;
            margin-left: 13px;
            color: gray;
            font-size: 14px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            gap: 12px;
        }

        h3 {
            font-size: 32px;
            margin: 8px 8px 8px 10px;
        }
    }

}