.hotelsFormWrapper{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
  margin-top:30px
}
.hotelsFormWrapper .hotelIconUpload{
  display:flex;
  gap:10px;
  height:auto;
  align-items:center;
  color:gray
}
.attendanceFilterDiv{
  display:flex;
  justify-content: space-between;
  margin-bottom: 2%;
  width:80%;
}
.attendanceSearchDiv{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2%;
}
.attendanceCountDiv{
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}
.attendanceCount{
  width: 20%;
  background-color: blue;
  text-align: center;
  padding: 1%;
}
.staffCount{
  width: 20%;
  background-color: rgb(255, 0, 38);
  text-align: center;
  /* height: 35px; */
  padding: 1%;
}